GROQ_API_KEY="Your_GROQ_API_Key_Here" # Has both free and paid options, use this for testing and development, you can get your API key from GROQ's website.
GOOGLE_API_KEY="GOOGLE_GEMINI_API_KEY" # Limited free tokens available, you will need to create an account and get your API key from Google's website.
OPENAI_API_KEY="Your_OPENAI_API_Key_Here" # Open Ai does not have free tokens, you will need to create an account and get your API key from OpenAI's website.

