GROQ_API_KEY="Your_GROQ_API_Key_Here" 
GOOGLE_API_KEY="GOOGLE_GEMINI_API_KEY"
OPENAI_API_KEY="Your_OPENAI_API_Key_Here"
client_access_token="Genius Api Key"
SPOTIPY_CLIENT_SECRET="Your_Spotify_Client_Secret_Here"
SPOTIPY_CLIENT_ID="Your_Spotify_Client_ID_Here"