langchain-groq
langchain-google-genai
langchain-openai
langchain-core
langchain-community
python-dotenv
pandas
unstructured[md]
spacy
kagglehub
sentence-transformers
tqdm
git+https://github.com/johnwmillr/LyricsGenius.git